<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pg.flex.dao.StyleDao">

  <resultMap id="StyleResultMap" type="com.pg.flex.dto.Style">
    <result column="user_id" property="userId" />
    <result column="post_content" property="postContent" />
    <result column="like_count" property="likeCount" />
    <result column="comment_count" property="commentCount" />
    <!-- <result column="saved_file_name" property="savedFileName" /> -->
  </resultMap>




  
  <!-- style  post가져오기 -->
  <select id="getPosts" resultMap="StyleResultMap">
    SELECT
      u.user_id, 
      p.post_content, 
      (SELECT count(*) FROM post_like AS pl WHERE pl.post_index = p.post_index) AS like_count, 
      (SELECT count(*) FROM comment AS c WHERE c.post_index = p.post_index) AS comment_count
    FROM 
      posting AS p
    INNER JOIN 
      user_info AS u
    ON
      p.login_id = u.login_id
  </select>

  <select id="getPost" parameterType="int" resultMap="StyleResultMap">
    SELECT
      u.user_id, 
      p.post_content, 
      (SELECT count(*) FROM post_like AS pl WHERE pl.post_index = #{postIndex}) AS like_count, 
      (SELECT count(*) FROM comment AS c WHERE c.post_index = #{postIndex}) AS comment_count
    FROM 
      posting AS p
    INNER JOIN 
      user_info AS u
    ON
      p.login_id = u.login_id
    WHERE
      p.post_index = ${postIndex}
  </select>

  <!-- main style 가져오기 -->

   <select id="getMainPosts" resultMap="StyleResultMap">
  
  
  SELECT 
  p.post_content, bi.saved_file_name, ui.user_id 
  FROM 
  posting p 
INNER JOIN
 user_info ui 
	ON 
    p.login_id = ui.login_id 
INNER JOIN
  board_img bi 
	ON 
    p.post_index = bi.board_index 
		LIMIT 3 OFFSET 0;

  </select>

  <!-- xd기준(10,11페이지) 스타일 페이지 프로필사진 -->

  <select id="getProfilePosts" resultMap="StyleResultMap">
    SELECT
      u.user_id, 
      u.user_name,
      sum(p.product_price)
    FROM 
      product AS p
    INNER JOIN 
      user_info AS u
    ON
      p.login_id = u.login_id;
  </select>

<!-- xd기준(14페이지) 구매내역 -->

</mapper>